/*
#046381
#057b9f
#2a9fc3
#15262e
#acd1r3
*/

body{
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #ACD1E3 !important;
}


.bg-colorfondobarra{
   background-color: #15262e  !important;
}

.bg-colortitulo{
    color: #2a9fc3  !important;
}

.bg-colormenu{
    color: #2a9fc3 !important;
}

.bg-colorbotom{
    color:#2a9fc3 !important;
}

.navbar{
    min-height: 70px;
}

.bg-coloresenia{
    color: #30252e;
}

.carousel-inner{
  max-height: 30rem ;
}


